.beatel-checkbox-button__inner,
.beat .el-radio-button__inner {
    border-radius: var(--el-border-radius-base) !important;
    width: 3rem !important;
    height: 2rem !important;
}

.beats-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

.simple-flex-track {
    width: fit-content;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 0.8rem;
}