.beatel-checkbox-button__inner,
.beat .el-radio-button__inner,
.beat .el-checkbox-button__inner {
    border-radius: var(--el-border-radius-base) !important;
    width: 2.8rem !important;
    height: 1.9rem !important;
}

.beats-start {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: nowrap;
}

.no-overflow {
    overflow: none;
}

.auto-overflow {
    overflow: auto;
}

.simple-flex-center {
    /* width: fit-content; */
    /* height: max-content; */
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
}

.simple-flex-start {
    width: fit-content;
    /* height: max-content; */
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 0.8rem;
}