@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.beatel-checkbox-button__inner,
.beat .el-radio-button__inner,
.beat .el-checkbox-button__inner {
    border-radius: var(--el-border-radius-base) !important;
    width: 2.8rem !important;
    height: 1.9rem !important;
}

.align-with-tracks {
    height: 2.8rem;
}

.beats-start {
    height: 1.9rem;
    width: 100%;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: nowrap;
}

.no-overflow {
    overflow: none;
}

.auto-overflow {
    overflow: auto;
}

.simple-flex-end {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 1rem;
}

.simple-flex-center {
    /* width: fit-content; */
    /* height: max-content; */
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
}

.simple-flex-start {
    width: fit-content;
    /* height: max-content; */
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 0.8rem;
}